@import '/css/_variables';

.footer {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px 75px;
    border-top: 2px solid $line-color;
}
