@import 'config';

.more__btn {
  
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: $primary-color;
  margin-bottom: 100px;
  font-size: $font-size-h5;
  font-weight: $font-weight-bold; 
  cursor: pointer;
  
    &:active {
      color: #A1A2FF;
    }
}